In [1]:
"""1.	Write a code to display sum and average of two numbers. 
The average should be displayed as a  whole number (no decimal places) after calculation. """
a=10
b=20
avg = (a+b)//2
print(avg)

15

In [2]:
"""2.	Write a program that prints out all the elements of the list (list of numbers) that are less than 5
"""
lista= [1,2,3,4,5,6,7,8,9,0]
for i in lista:
    if lista[i]<5:
        print (lista[i])

2
3
4
0
1

In [3]:
#3
n = '63'


if n[-1]=='0':
     print("It is divisible by 10")
elif int(n)%2!=0:
    print("It is odd")
else:
    print("It is even")

It is odd

In [4]:
#4

a=70
b=3

prod = a*b
sum = a+b

if prod>500:
    print(sum)
else:
    print(prod)

210

In [5]:
#5
for i in range(4,20,1):
    sum = i +  (i-1)
    print(sum)

7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37

In [6]:

#6
ch = 'e'
if (ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u'):
    print("It is a vowel")
else:
    print("It's a consonant")

It is a vowel

In [7]:
#7
strb = 'Avirup'

for i in range (0,len(strb),2):
    print(strb[i])

A
i
u

In [8]:
#8

n = '60'


if n[-1]=='0':
     print("It is divisible by 10")
elif int(n)%2!=0:
    print("It is odd")
else:
    print("It is even")

It is divisible by 10

In [9]:
#9
listb=[12,20,31,43,65,80,454,450,350,12]

for i in listb:
    x = str(i)
    if (x[-1]) == '0':
        print(x)

20
80
450
350

In [10]:
#10

if listb[0]==listb[-1]:
    print("They are same")
else:
    print("They are different")

They are same

In [19]:
#11

strc = "Hello World"
listc = list(strc)


for i in range(0,len(listc)):
    if listc[i] == ' ':
        listc[i] = '_'

In [53]:
#12

strd = "321malayalam123"
stre = strd[::-1]
print(stre)

if strd == stre : 
    print("Pallindrome")
else:
    print("Not Pallindrome")

321malayalam123
Pallindrome

In [70]:
#13
n = 10
first=0
second=1
for i in range (1,n+1):
    
    fib = first+second
    print(fib)
    first= second
    second = fib

1
2
3
5
8
13
21
34
55
89

In [73]:
#14

stra = "Hello"
strb = "World"
strc = stra[0:3] + strb + stra[3:]
print(strc)

HelWorldlo

In [96]:
#15
n = 5
num = 1
  
for i in range(0, n): 
    num = 1
    print("\n")
    for j in range(0, i+1): 
        print(num)             
        num = num + 1

1


1
2


1
2
3


1
2
3
4


1
2
3
4
5

In [101]:
#16

stre= "the quick brown fox jumps right over the lazy dog"
tfive = int(0.25*len(stre))
stre[:tfive]

'the quick br'

In [131]:
#17

print(lista)
mido = int(len(lista)/2) # middle element if list is odd
mide = len(lista)//2 #one element if list is even
ife = (lista[mide]+lista[mide-1])/2 #average of median values

if (len(lista)%2 == 0):
    print(ife)
else:
    print(lista[mido])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11]
6

In [137]:
#18

list1 = ['a','e','i','o','u']
list2 = ['a','v','i','r','u','p']
list3 = []

for i in list1:
    if (i in list2):
        list3.append(i)
        
list3

['a', 'i', 'u']

In [142]:
#19

year = 1996

if year%4 == 0:
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year

In [143]:
#20

In [245]:
people = {'boy': {'name': 'John', 'age': '27', 'sex': 'Male'},
          'girl': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

newlist = []

#for i in range (1,3):
 #   newlist.append(people[i])


x= people.values()
print(x)

AttributeError: 'dict' object has no attribute 'boy'

In [190]:
#24

amt = eval(input("Enter the amount "))
year = eval(input("Enter the years "))

for i in range (0,year):
    amt=amt*1.08
    
    
print(amt)

Enter the amount 101
Enter the years 1
109.08000000000001

In [236]:
#23

listdup = [10,20,30,40,10,50,60,20,40]

for i in range(0,len(listdup)):
    str = listdup[i]
    for j in range(i+1,len(listdup)):
        if str == listdup[j]:
            listdup.pop(j)

TypeError: 'str' object cannot be interpreted as an integer

In [225]:
listdup

['10', '20', '30', '40', None, '50', '60', None, None]

In [246]:
#22
listn = [10,30,20,40,50,60,10,20,40,30]
dicta={}
for val in listn:
    x=listn.count(val)