In [ ]:
import pandas as pd
dfa = pd.read_csv('results.csv')
dfa

In [17]:
#number of fifa qualification matches played in Hanao where Home Team lost
dfa[(dfa.tournament == 'FIFA World Cup qualification') & (dfa.city == 'Hanoi') & (dfa.home_score==0)]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
29606,2007-10-08,Vietnam,United Arab Emirates,0,1,FIFA World Cup qualification,Hanoi,Vietnam,False
37419,2015-10-13,Vietnam,Thailand,0,3,FIFA World Cup qualification,Hanoi,Vietnam,False
41536,2019-11-19,Vietnam,Thailand,0,0,FIFA World Cup qualification,Hanoi,Vietnam,False

In [28]:
#number of matches played in England where home team lost by more than 4 goals
dfa[(dfa.city == 'London') & (dfa.away_score - dfa.home_score >4)]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
38149,2016-08-25,Barawa,Tamil Eelam,0,5,World Unity Cup,London,England,False
39690,2018-04-15,Barawa,Yorkshire,2,7,Friendly,London,England,False

In [30]:
#statistics of home score in all the matches
dfa.agg({'home_score': ['min', 'max', 'mean', 'median']})

        home_score
min       0.000000
max      31.000000
mean      1.745643
median    1.000000

In [33]:
#matches played in scotland grouped by home_team and filtered on basis of home_score sorted in ascending order
dfa[dfa.country == 'Scotland'].groupby('home_team').filter(lambda g: len(g) > 2).groupby('home_score').size().sort_values(ascending=False)

home_score
1     109
2      88
0      71
3      57
4      22
5      18
6      10
9       2
8       2
7       2
11      1
dtype: int64

In [ ]:
#Fetch the host country and year of FIFA WorldCup into a dictionary
import pandas as pd
dfa = pd.read_csv('results.csv')
dfa['year'] = pd.DatetimeIndex(dfa['date']).year
fifa = dfa[dfa['tournament']=='FIFA World Cup']
dates = fifa.date.tolist()
years=[]
for date in dates:
    year=date.split('-')[0]
    if year not in years:
        years.append(year)
dictOfCountries={}
for i in range(len(years)):
    for j in range(len(fifa[fifa['year']==eval(years[i])].country.unique())):
        if years[i] in dictOfCountries.keys():
            dictOfCountries[years[i]].append(fifa[fifa['year']==eval(years[i])].country.unique()[j])
        else:
            dictOfCountries[years[i]]=[fifa[fifa['year']==eval(years[i])].country.unique()[j]]

dictOfCountries